<nav id="navbar" class="nav-element full-width">
    <ul>
        <li><a href="/">Hjem</a></li>
        <div class="nav-links">
            <li><a href="#">Om Oss</a></li>
            <li><a href="/medlemmer">Medlemmer</a></li>
            <li><a href="#">Kontakt</a></li>
        </div>
    </ul>
</nav>