<%-include('./partials/head')%>
<%-include('./partials/navbar') %>
<section id="welcome" class="std-width">
    <h1>Velkommen til Itforeningen! </h1>
    <br>
    <p>
        Vi ivaretar dine behov! Som medlem hos oss får blant annet;
        <ul>
            <li>Juridisk bistand</li>
            <li>Råd i lønnsforhandlinger</li>
            <li>Gode forsikringsordninger</li>
            <li><a href="#">Med mer...</a></li>
        </ul>
    </p>
</section>
<%-include('./partials/foot') %>